.App{
  background-color: #080808;
  color: white;
  height: 100vh;
}
.round-bottom-border{
  border-radius:0 0 10px 10px;
}
.display-flex{
  display: flex;
}
.flex-direction-column{
  flex-direction: column;
}
.align-items-center{
  align-items: center;
}